<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<div class="contrainer">
    <div class="row centrar">

        <div class="col-4">
            <form [formGroup]="validar">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">Name:</span>
                    <input type="text" class="form-control" formControlName="name" id="name" aria-label="Username" aria-describedby="basic-addon1">
                  </div>
            </form>

            <div>
                <p>Value:</p>
                {{validar.value | json}}
            </div>
        </div>



    </div>
</div>